<html>
    <head></head>
    <body>
    <table>
        {{#each scanlines}}
            <tr>
                {{#each this}}
                    <td>{{this.nop}}</td>
                {{/each}}
            </tr>
        {{/each}}
    </table>
    </body>
</html>