<html>
    <head>
        <style type="text/css">
            table{
                border-collapse:collapse;
                border:1px solid #000000;
            }

            td {
                border:1px solid #000000;
            }

            td.draw_pixel {
                background-color: #ADD8E6;
            }

            td.set_vblank, td.clear_vblank_and_sprite_zero_hit {
                background-color: green;
            }

            td.inc_coarse_x {
                background-color: #770000;
            }

            td.inc_fine_y {
                background-color: #ff0000;
            }

            td.fetch_at, td.fetch_at + td {
                background-color: #0000ff;
            }
        </style>
    </head>
    <body>
    <table>
        {{#each scanlines}}
            <tr>
                {{#each this}}
                    <td style="background-color: {{#color this}}{{/color}}"></td>
                {{/each}}
            </tr>
        {{/each}}
    </table>
    </body>
</html>