<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PPU Cycle Legend</title>
    <style type="text/css">
        #scanlines {
            white-space: nowrap;
        }

        .r {
            height: 4px;
            margin: 0 0 1px 0;
        }

        .p { /* pixel */
            display: inline-block;
            height: 4px;
            width: 4px;
            margin: 0 1px 0 0;
            background-color: black;
            opacity: 0.5;
        }

        .output_pixel { /* visible */
            opacity: 1
        }
    </style>
</head>
<body>

<div id="scanlines">
    {%- for scanline in scanlines -%}
    <div class="r">
        {%- for pixel in scanline -%}
        <div id="{{pixel.scanline}}-{{pixel.pixel}}"
             class="p {% for block in pixel.cycle_implementation.blocks %}{% endfor %}"></div>
        {%- endfor -%}
    </div>
    {%- endfor -%}
</div>

{% for cycle_id, code in cycle_code_map %}
<div>
    <h4>Cycle {{cycle_id}}</h4>
    <pre>{{code}}</pre>
</div>
{% endfor %}

<script>
    const scanlineContainer = document.getElementById("scanlines");
    scanlineContainer.addEventListener("mouseover", (e) => {
        if (!e.target.classList.contains("p")) {
            return
        }

        const [scanline, pixel] = e.target.id.split("-");
        console.log(`Scanline ${scanline} Pixel ${pixel}`);
    });
</script>
</body>
</html>