<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PPU Cycle Legend</title>
  <style>
    #container {
      display: flex;
    }

    #operation_buttons {
      display: flex;
      flex-direction: column;
    }
  </style>
</head>
<body>

<div id="container">
  <div id="operation_buttons"></div>
  <canvas id="screen" width="1023" height="786">
  </canvas>
</div>


<script>
    const SCANLINES = 262;
    const CYCLES_PER_SCANLINE = 341;
    const PIXELS_PER_CYCLE = 3;
    const MARGIN_WIDTH = 0;
    const PIXEL_STRIDE = PIXELS_PER_CYCLE + MARGIN_WIDTH;
    const SCREEN_HEIGHT = SCANLINES * PIXEL_STRIDE;
    const SCREEN_WIDTH = CYCLES_PER_SCANLINE * PIXEL_STRIDE;
    const canvas = document.getElementById("screen");
    const operationButtons = document.getElementById("operation_buttons");
    const ctx = canvas.getContext("2d");

    const operations = {{operations | safe | json_encode()}}
    const pixelMap = {{ cycle_code_map | safe | json_encode() }};
    const scanlines = {{ scanlines | safe | json_encode() }};

    function updateScreen() {
        let inputs = document.querySelectorAll("#operation_buttons input[type='checkbox']:checked");
        console.log(inputs);
        let operations = Array.from(inputs).map(e => e.dataset.operation);
        console.log(operations);
        window.requestAnimationFrame(() => {
            ctx.fillStyle = "black";
            ctx.fillRect(0, 0, SCREEN_WIDTH, SCREEN_HEIGHT);

            for(let y = 0; y < scanlines.length; y += 1) {
                for(let x = 0; x < scanlines[y].length; x += 1) {
                    if (scanlines[y][x].some(o => operations.includes(o))) {
                        ctx.fillStyle = "red";
                    } else {
                        ctx.fillStyle = "gray";
                    }
                    ctx.fillRect(x * PIXEL_STRIDE, y * PIXEL_STRIDE, PIXELS_PER_CYCLE, PIXELS_PER_CYCLE);
                }
            }
        });
    }

    for (let operation of operations) {
        const label = document.createElement("label");
        const checkbox = document.createElement("input");
        checkbox.type = "checkbox";
        checkbox.dataset.operation = operation;
        checkbox.addEventListener("click", () => updateScreen());
        label.appendChild(checkbox);
        label.appendChild(document.createTextNode(operation));
        operationButtons.appendChild(label);
    }

    updateScreen(["BackgroundLowByteFetch", "BackgroundHighByteFetch"]);
</script>
</body>
</html>